<body>

<form class="box" [formGroup]="authForm" (ngSubmit)="saveForm()">

    <h1>Login</h1>
    <input type="text" formControlName="username" placeholder="username">   
    <input type="password" formControlName="password" placeholder="password"/>

    <button type="submit">
        <span type="submit" *ngIf="!registerMode">Login</span>
        <span type="submit" *ngIf="registerMode">Register</span>

    </button>

    <br>
<span *ngIf="!registerMode" (click)="!registerMode = true">Don't have an account ? Register Here!</span>
<span *ngIf="registerMode" (click)="registerMode = false">Already have an account ? Login Here!</span>
</form>


</body>
