.app {
    background-color: #1CDE94;
    color: white;
    min-height: calc(100vh - 100px);
    padding: 50px;
    margin: 0;
}

h1{
    text-align: center;
    color: #02120C;
    font-size: 3em;
}

h1 fa-icon{
    color: #02120C;
    display: inline-block;
    transform: rotate(30deg);
}

.navbar{
    background-color: white;
}

.navbar-light  .navbar-nav .nav-link{
    color:black;
    font-size: 18px;
}

.navbar-light  .navbar-nav .nav-link:hover{
    text-decoration: underline;
}

.nav-item{
    border: 0;
    background: none;
    display: block;
    margin: 5px auto;
    text-align: center;
    border: 2px solid #02120C;
    padding: 2px 1px;
    width: 100px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}