.app {
    background-color: #1CDE94;
    color: white;
    min-height: calc(100vh - 100px);
    padding: 50px;
    margin: 0;
}

h1{
    text-align: center;
    color: #02120C;
    font-size: 3em;
}

h1 fa-icon{
    color: #02120C;
    display: inline-block;
    transform: rotate(30deg);
}

.navbar{
    background-color:#ffffff;
}

.navbar-light  .navbar-nav .nav-link{
    color: #000000;
    font-size: 18px;
}

.navbar-light  .navbar-nav .nav-link:hover{
    text-decoration: underline;
}